client_generic/boost/include/boost
client_generic/boost/include
client_generic/MacBuild/build
client_generic/MacBuild/ElectricSheep.xcodeproj/xcuserdata
client_generic/MacBuild/ElectricSheep.xcodeproj/project.xcworkspace
*.Po
*.Tpo
*.o
client_generic/Makefile
client_generic/Makefile.in
client_generic/Client/Makefile
client_generic/Client/Makefile.in
client_generic/Client/electricsheep
client_generic/MSVC/SettingsGUI/Makefile
client_generic/MSVC/SettingsGUI/Makefile.in
client_generic/MSVC/SettingsGUI/electricsheep-preferences
client_generic/autom4te.cache/
client_generic/aclocal.m4
client_generic/m4/
client_generic/missing
client_generic/compile
client_generic/config.guess
client_generic/config.log
client_generic/config.status
client_generic/config.sub
client_generic/configure
client_generic/depcomp
client_generic/install-sh
client_generic/libtool
client_generic/ltmain.sh
