<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>Electric Sheep</string>
	<key>CFBundleIconFile</key>
	<string>ElectricSheep</string>
	<key>CFBundleIdentifier</key>
	<string>org.electricsheep.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.7b34</string>
	<key>CFBundleGetInfoString</key>
	<string>2.7b34</string>
	<key>NSPrincipalClass</key>
	<string>ESScreensaverView</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUFeedURL</key>
	<string>http://sparkle.electricsheep.org/appcast.xml</string>
</dict>
</plist>
